    
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" href="index.html">Airflights</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="oi oi-menu"></span> Menu
				</button>
	
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a routerLink="/home" class="nav-link">Home</a></li>
						<li *ngIf="loggedFlag" class="nav-item"><a routerLink="/authHomePage/{{id}}" class="nav-link">Home page korisnika</a></li>
						<li class="nav-item"><a routerLink="/listAirflights" class="nav-link">Flights</a></li>
						<li class="nav-item"><a routerLink="/hotels" class="nav-link">Hotels</a></li>
						<li class="nav-item"><a routerLink="/rentacarPreview" class="nav-link">Rent a cars</a></li>
						<li class="nav-item" *ngIf="!loggedFlag"><a routerLink="/login" class="nav-link">Log in</a></li>
						<li class="nav-item cta" *ngIf="loggedFlag"> <button  class="list-group-item list-group-item-action" (click)="logout()" >
							<span>Sign Out</span>
					</button></li>
					</ul>
				</div>
			</div>
		</nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight" style="background-image: url('assets/bg_1.jpg');">
			<div class="overlay"></div>
			<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
					<div class="col-md-9 " data-scrollax=" properties: { translateY: '70%' }">
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Explore <br></strong> your amazing city</h1>
					<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to stay, eat, shop, or visit from local experts</p>
					<div class="block-17 my-4">
						</div>
						</div>
						</div>
				</div>
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">



        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

