<div class="room-list animate">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Airflights</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="nav-link"><span class="sr-only"></span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
        </form>
      </div>
    </nav>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>System administration</h1>
      <ul class="nav nav-pills">
        <li><a class="btn btn-info" routerLink="/admin/profile">Profile</a></li>
        <li><a class="btn btn-info active">Flights</a></li>
        <li><a class="btn btn-info" routerLink="/admin/hotels">Hotels</a></li>
        <li><a class="btn btn-info" routerLink="/admin/rac">Rent a car</a></li>
        <li><a class="btn btn-info" routerLink="/admin/admins">Admins</a></li>
        <li><a class="btn btn-info" routerLink="/admin/bonus">Bonuses</a></li>
      </ul>
      <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let airline of airlines">
              <th scope="row">{{airline.fullName}}</th>
              <td>{{airline.address}}</td>
              <td>{{airline.city}}</td>
              <td>{{airline.rating}}</td>
              <td><button class="btn btn-success" routerLink="/admin/{{airline.id}}/A/newAdmin">Add admin</button></td>
              <td><button class="btn btn-danger" (click)="delete(airline.id)">Delete</button></td>
            </tr>
          </tbody>
      </table>
      <a id="btnAdd" class="btn btn-primary btn-lg" routerLink="/admin/airline/add"><b>+</b></a> 
    </div>
  </div>
</div>