
@import "../../racprofile-preview/styles.css";
@import url('https://fonts.googleapis.com/css?family=Lobster');

.image{
	background: url('/assets/hotel-2.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  }

  #sb {
	  margin-right: 20px;
  }

  #title{
      color: aliceblue;
      font-family: 'Lobster';
  }

  .panel-group {
    background-color: white !important;
    border-radius: 15px;
    border: 2px solid brown;
    padding: 5px; 
  }

  .card {
    border-radius: 15px;
    border: 2px solid brown;
    padding: 5px; 
  }

  hr {
      border-color: brown;
      
  }

