<div class="room-list animate">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Hotel "{{hotel.name}}"</h1>
      <ul class="nav nav-pills">
        <li><a class="btn btn-info" routerLink="/admin/hotel/profile">Profile</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit">General</a></li>
        <li><a class="btn btn-info  active">Rooms</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit/extras/list">Extras</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/charts">Charts</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/revenues">Revenues</a></li>
      </ul>
      <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Floor</th>
              <th scope="col">Beds</th>
              <th scope="col">Rooms</th>
              <th scope="col">Balcony</th>
              <th scope="col">Rating</th>
              <th scope="col">Price($/per night)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms" [ngClass]='{onPromotion : room.promo}'>
              <th scope="row">{{room.number}}</th>
              <td>{{room.floor}}</td>
              <td>{{room.beds}}</td>
              <td>{{room.rooms}}</td>
              <td>{{room.balcony}}</td>
              <td>{{room.ratingsSum/room.ratingsCount | number: '1.0-2'}}</td>
              <td>{{room.price}}</td>
              <td><a class="btn btn-success" routerLink="/hotel/edit/{{hotel.id}}/rooms/{{room.id}}/edit">Edit</a></td>
              <td><button class="btn btn-danger" (click)="delete(room.id)">Delete</button></td>
            </tr>
          </tbody>
      </table>
      <a id="btnAdd" class="btn btn-primary btn-lg" routerLink="/hotel/edit/{{hotel.id}}/addRoom"><b>+</b></a>
    </div>
  </div>
</div>
