<div class="room-list animate">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Airflights</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link"><h2>Hotel "{{hotel.name}}" administration</h2><span class="sr-only"></span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="logout()">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
        </form>
      </div>
    </nav>
<div class="room-list animate">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="nav nav-pills">
        <li><a class="btn btn-info" routerLink="/admin/hotel/profile">Profile</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit">General</a></li>
        <li><a class="btn btn-info  active">Rooms</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit/extras/list">Extras</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/charts">Charts</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/revenues">Revenues</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/discounts">Discounts</a></li>
      </ul>
      <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Floor</th>
              <th scope="col">Beds</th>
              <th scope="col">Rooms</th>
              <th scope="col">Balcony</th>
              <th scope="col">Rating</th>
              <th scope="col">Price(€/per night)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms" [ngClass]='{onPromotion : room.promo}'>
              <th scope="row">{{room.number}}</th>
              <td>{{room.floor}}</td>
              <td>{{room.beds}}</td>
              <td>{{room.rooms}}</td>
              <td>{{room.balcony}}</td>
              <td>{{room.ratingsSum/room.ratingsCount | number: '1.0-2'}}</td>
              <td>{{room.price}}</td>
              <td><a class="btn btn-success" routerLink="/hotel/edit/{{hotel.id}}/rooms/{{room.id}}/edit">Edit</a></td>
              <td><button class="btn btn-danger" (click)="delete(room.id)" [disabled]="room.reserved">Delete</button></td>
            </tr>
          </tbody>
      </table>
      <a id="btnAdd" class="btn btn-primary btn-lg" routerLink="/hotel/edit/{{hotel.id}}/addRoom"><b>+</b></a>
    </div>
  </div>
</div>
