<div class="room-list animate">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Airflights</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link"><h2>Hotel "{{hotel.name}}" administration</h2><span class="sr-only"></span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" (ngSubmit)="logout()">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
          </form>
        </div>
      </nav>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="nav nav-pills">
          <li><a class="btn btn-info" routerLink="/admin/hotel/profile">Profile</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/edit">General</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/edit/rooms/list">Rooms</a></li>
          <li><a class="btn btn-info active">Extras</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/charts">Charts</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/revenues">Revenues</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/discounts">Discounts</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
              <tr>
                <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                <th scope="col" sortable="price" (sort)="onSort($event)">Price(€)</th>
                <th scope="col" sortable="priceUnit" (sort)="onSort($event)">Price unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let extra of extras; index as i">
                <th scope="row">{{extra.name}}</th>
                <td>{{extra.price | number}}</td>
                <td>{{extra.unit}}</td>
                <td><a class="btn btn-success" routerLink="/hotel/edit/{{hotel.id}}/extras/{{extra.id}}/edit">Edit</a></td>
                <td><button class="btn btn-danger" (click)="delete(extra.id)">Delete</button></td>
              </tr>
            </tbody>
        </table>
        <a id="btnAdd" class="btn btn-primary btn-lg" routerLink="/hotel/edit/{{hotel.id}}/addExtra"><b>+</b></a>
      </div>
    </div>
  </div>