<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Hotel "{{hotel.name}}"</h1>
        <ul class="nav nav-pills">
          <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}">General</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/rooms">Rooms</a></li>
          <li><a class="btn btn-info active">Extras</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/charts">Charts</a></li>
          <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/revenues">Revenues</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Price unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let extra of extras">
                <th scope="row">{{extra.name}}</th>
                <td>{{extra.price}}</td>
                <td>{{extra.unit}}</td>
                <td><a class="btn btn-success" routerLink="/hotel/edit/{{hotel.id}}/extras/{{extra.id}}/edit">Edit</a></td>
                <td><button class="btn btn-danger" (click)="delete(extra.id)">Delete</button></td>
              </tr>
            </tbody>
        </table>
        <a id="btnAdd" class="btn btn-primary btn-lg" routerLink="/hotel/edit/{{hotel.id}}/addExtra"><b>+</b></a>
      </div>
    </div>
  </div>