<div class="room-list animate">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Hotel "{{hotel.name}}"</h1>
      <ul class="nav nav-pills">
        <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}">General</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/rooms">Rooms</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/extras">Extras</a></li>
        <li><a class="btn btn-info active">Charts</a></li>
        <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/revenues">Revenues</a></li>
      </ul>
    </div>
  </div>
</div>
