<div class="image">
    <nav class="navbar-default navbar-fixed-top navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">Airflights</a>
        <ul class="flow-right navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listAirflights">Flights</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active">Hotels</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/rentacarPreview">Rent a car</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a id="sb" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button">
                <i class="fa fa-search"></i>
            </a>
            <div *ngIf="logged;else other_content">
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Sign out</button>
            </div>
            
            <ng-template #other_content><button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()">Log in</button></ng-template>
        </form>
      </div>
    </nav>
    <div class="collapse col-md-10 offset-md-1" id="collapseExample">
      <div class="card card-body">
        <form #SearchForm="ngForm" (ngSubmit)="search()">
            <input type="text" [(ngModel)]="sObj.name" name="name" id="name" placeholder="Hotel name">
            &nbsp;
            <input type="text" [(ngModel)]="sObj.location" name="loc" id="loc" placeholder="Location">
            &nbsp;<button class="btn btn-primary" type="submit">Search</button><br/>
            <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" style="color: black; background-color: white">
              </ngb-datepicker>
                <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
        </form>
      </div>
    </div>
    <!-- END nav -->
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div  class="theelements" *ngFor="let hotel of hotels" style="background-blend-mode: inherit">
          <div class="card mt-2 ml-2 mb-4 " style="width: 18rem;">
            <img src="assets/hotel-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>{{hotel.name}}&nbsp;&nbsp;&nbsp;</b><span style="color:gold"><i class="fas fa-star"></i></span><span class="ml-1">{{hotel.ratingsSum/hotel.ratingsCount | number: '1.0-2'}}</span></h5>
                <p class="card-text">{{hotel.address}}, {{hotel.city}}</p>
                <button  (click)="details(hotel.id)" class="btn btn-primary mt-4 mb-4">Explore</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- tabela posle search-a -->
  
   
   
    
  
  
  
  