<div class="room-edit animate container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #roomEditForm="ngForm" (ngSubmit)="update(roomEditForm.value)">
        <h1>Hotel "{{hotel.name}}"</h1>
        <h2>Room {{roomNumber}}</h2>
        <div class="form-content" *ngIf="!reserved">
          <div class="form-group">
              <label for="roomN">Room number</label>
              <input type="number" min="0" [(ngModel)]="room.number" required class="form-control" name="number" placeholder="Enter room number">
              <small id="roomMsg" class="form-text text-muted" hidden>Invalid</small>
          </div>
          <div class="form-group">
              <label for="floor">Floor</label>
              <input type="number" min="0" [(ngModel)]="room.floor" required class="form-control" name="floor" placeholder="Enter floor">
              <small id="floorMsg" class="form-text text-muted" hidden>Invalid</small>
          </div>
          <div class="form-group">
            <label for="beds">Beds</label>
            <input type="number" min="0" [(ngModel)]="room.beds" required class="form-control" name="beds" placeholder="Enter number of beds">
            <small id="bedsMsg" class="form-text text-muted" hidden>Invalid</small>
          </div>
          <div class="form-group">
            <label for="rooms">Rooms</label>
            <input type="number" min="0" [(ngModel)]="room.rooms" required class="form-control" name="rooms" placeholder="Enter number of rooms">
            <small id="roomsMsg" class="form-text text-muted" hidden>Invalid</small>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <input type="number" min="0" [(ngModel)]="room.price" required class="form-control" name="price" placeholder="Enter price per night">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">€</span>
              </div>
            </div>
            <small id="priceMsg" class="form-text text-muted" hidden>Invalid</small>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="room.balcony" type="checkbox" name="hasBalcony">
            <label class="form-check-label" for="balcony">Balcony</label>
          </div>
        </div>
        <div>
          <div *ngIf="room.promo; then bt else bf"></div>
          <ng-template #bt><a class="btn btn-warning" (click)='endPromo()'>End promotion</a></ng-template>
          <ng-template #bf><button class="btn btn-success" routerLink="/hotel/edit/{{hotel.id}}/{{room.id}}/promo">Promotion</button></ng-template>
          <button id="btnUpdate" class="btn btn-primary float-right" type="submit" [disabled]="!roomEditForm.form.valid">Update</button>
          <button id="btnCancel" class="btn btn-secondary float-right" routerLink="/hotel/edit/rooms/list">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
