<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Hotel "{{hotelName}}"</h1>
    <ul class="nav nav-pills">
      <li><a class="btn btn-info active">General</a></li>
      <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/rooms">Rooms</a></li>
      <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/extras">Extras</a></li>
      <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/charts">Charts</a></li>
      <li><a class="btn btn-info" routerLink="/hotel/edit/{{hotel.id}}/revenues">Revenues</a></li>
    </ul>
    <form #hotelEditForm="ngForm" (ngSubmit)="update()">
      <div class="form-content">
          <div class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="hotel.name" required class="form-control" name="name" id="name" placeholder="Hotel name">
                <small id="nameMsg" class="form-text text-muted" hidden>Invalid</small>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" [(ngModel)]="hotel.address" class="form-control" name="address" id="address" placeholder="Hotel address">
              <small id="addressMsg" class="form-text text-muted" hidden>Invalid</small>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" required [(ngModel)]="hotel.city" class="form-control" name="city" id="city" placeholder="Enter city">
              <small id="cityMsg" class="form-text text-muted" hidden>Invalid</small>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea placeholder="Description" [(ngModel)]="hotel.description" class="form-control" name="description" id="description" placeholder="Type description" rows="5"></textarea>
              <small id="descriptionMsg" class="form-text text-muted" hidden>Invalid</small>
            </div>
         </div>
        <button id="btnUpdate" class="btn btn-primary" type="submit" [disabled]="!hotelEditForm.form.valid">Update</button>
      </div>
    </form>
  </div>
</div>  
