    
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Airflights</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a routerLink="/authHomePage/{{id}}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="tour.html" class="nav-link">Flights</a></li>
          <li class="nav-item"><a reouterLink="/hotels" class="nav-link">Hotels</a></li>
          <li class="nav-item"><a routerLink="/rentacarPreview" class="nav-link">Rent a cars</a></li>
          <li  class="nav-item"><a routerLink="/userProfile" class="nav-link">Profile</a></li>
          <li  class="nav-item"><a routerLink="/friends"class="nav-link">Friends</a></li>
          <li class="nav-item cta"> <button  class="list-group-item list-group-item-action" (click)="logout()" >
            <span>Sign Out</span>
        </button></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <div style="background-image: url('assets/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-9 " data-scrollax=" properties: { translateY: '70%' }">
        
          <div style="text-align: center" class="head-naslov">
            <h2 style="color: black">List of ACTIVE vehicle reservations</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="background-color: white; color: black">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Pickup Date</th>
                    <th>Dropoff Date</th>
                    <th>Price</th>
                    <th>
                      Vehicle
                    </th>
                    <th>
                      Rent a car
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of listActiveRes">
                    <td>{{r.id}}</td>
                    <td>{{r.reservationdate}}</td>
                    <td>{{r.pickupdate}}</td>
                    <td>{{r.dropoffdate}}</td>
                    <td>{{r.price}}</td>
                    <td>{{r.vehicle.brand}} {{r.vehicle.model}}   
                    </td>      
                    <td>{{r.rentacar.name}}                     
                        
                    </td>
                    <th>
                      <div *ngIf = "cancelFlag">
                          <button class="list-group-item list-group-item-action" (click)="cancelVehicle(r.id,r.pickupdate)">Cancel reservation</button>
                      </div>
                    </th>                 
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>

          <div style="text-align: center" class="head-naslov">
            <h2 style="color: black">History of vehicle reservations</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm" style="background-color: white; color: black">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Pickup Date</th>
                    <th>Dropoff Date</th>
                    <th>Price</th>
                    <th>
                      Vehicle
                    </th>
                    <th>
                      Rent a car
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of listOutOfDateRes">
                    <td>{{r.id}}</td>
                    <td>{{r.reservationdate}}</td>
                    <td>{{r.pickupdate}}</td>
                    <td>{{r.dropoffdate}}</td>
                    <td>{{r.price}}</td>
                    <td>{{r.vehicle.brand}} {{r.vehicle.model}}
                      <div *ngIf="!r.rateVehicle">
                          <ngb-rating [(rate)]="r.vehicle.rating" (hover)="hovered=$event" (leave)="hovered=0" max="5">      
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="pobediVehicle(r.vehicle.id,r.vehicle.rating,r.id)">
                                Oceni
                            </button>
                      </div>          
                    </td>      
                    <td>{{r.rentacar.name}}
                      <div *ngIf="!r.rateRentacar">
                          <ngb-rating [(rate)]="r.rentacar.lastRating" (hover)="hovered=$event" (leave)="hovered=0" max="5">                     
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="pobediRentacar(r.rentacar.id,r.rentacar.lastRating,r.id)">
                              Oceni
                          </button>
                      </div>
                      
                        
                    </td>
                    <th>
                     
                    </th>                 
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>



         <div style="text-align: center" class="head-naslov">
          <h2 style="color: black">List of active of hotel reservations</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="background-color: white; color: black">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                    <th>
                      Room
                    </th>
                    <th>
                      Hotel
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of listActiveRoomRes">
                    <td>{{r.id}}</td>
                    <td>{{r.reservationDate}}</td>
                    <td>{{r.startDate}}</td>
                    <td>{{r.endDate}}</td>
                    <td>{{r.price}}</td>
                    <td>{{r.room.id}} - {{r.room.number}}
                    </td>      
                    <td>{{r.hotel.name}}
                                
                    </td>
                    <td>
                      <div *ngIf = "cancelFlag">
                        <button class="list-group-item list-group-item-action" (click)="cancelRoom(r.id,r.startDate)">Cancel reservation</button>
                    </div> 
                    </td>
                                  
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>

          <div style="text-align: center" class="head-naslov">
            <h2 style="color: black">History of hotel reservations</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm" style="background-color: white; color: black">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                    <th>
                      Room
                    </th>
                    <th>
                      Hotel
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of listOutOfDateRoomRes">
                    <td>{{r.id}}</td>
                    <td>{{r.reservationDate}}</td>
                    <td>{{r.startDate}}</td>
                    <td>{{r.endDate}}</td>
                    <td>{{r.price}}</td>
                    <td>{{r.room.id}} - {{r.room.number}}
                        <div *ngIf="!r.rateRoom">
                          <ngb-rating [(rate)]="r.room.tempRate" (hover)="hovered=$event" (leave)="hovered=0" max="5">            
                          </ngb-rating>
                          <button class="list-group-item list-group-item-action" (click)="pobediRoom(r.room.id,r.room.tempRate,r.id)">
                              Oceni
                          </button>
                      </div>         
                    </td>      
                    <td>{{r.hotel.name}}
                      <div *ngIf="!r.rateHotel">
                          <ngb-rating [(rate)]="r.hotel.tempRate" (hover)="hovered=$event" (leave)="hovered=0" max="5">                     
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="pobediHotel(r.hotel.id,r.hotel.tempRate,r.id)">
                              Oceni
                          </button>
                      </div>                  
                    </td>               
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>

<!--
          <div style="text-align: center" class="head-naslov">
            <h1>List of airflights reservations</h1>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Pickup Date</th>
                    <th>Dropoff Date</th>
                    <th>Price</th>
                    <th>
                      Airline
                    </th>
                    <th>
                      Airflight
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of vehicleRes">
                    <td>{{r.id}}</td>
                    <td>{{r.reservationdate}}</td>
                    <td>{{r.pickupdate}}</td>
                    <td>{{r.dropoffdate}}</td>
                    <td>{{r.price}}</td>
                    <td>{{r.vehicle.brand}} {{r.vehicle.model}}
                        <ngb-rating [(rate)]="r.vehicle.lastRating" (hover)="hovered=$event" (leave)="hovered=0" max="5">
                            
                        </ngb-rating>
                        <pre>Model: <b>{{ r.vehicle.lastRating }}</b></pre>
                    </td>      
                    <td>{{r.rentacar.name}}
                      <div *ngIf="markedFlag">
                          <ngb-rating [(rate)]="r.rentacar.lastRating" (hover)="hovered=$event" (leave)="hovered=0" max="5">                     
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="pobedi(r.rentacar.id,r.rentacar.lastRating)">
                              Oceni
                          </button>
                      </div>
                      
                        
                    </td>
                    <th><button class="list-group-item list-group-item-action" (click)="cancel(r.id)">Cancel reservation</button></th>                 
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>--> 
        
       
          </div>
          </div>
          </div>
    </div>

    



  


